extends ../layout

block content
	.container
		h1 REST Cheetsheet v1.0
		hr
		.row
			.col-sm-6
				.col-sm-12
					.panel.panel-info
						.panel-heading
							h4.board-card-title &nbsp;Request Methods - HTTP/1.1
						.panel-body
							ul
								each method in cheet.requestMethods
									li
										code #{method.title}
										p #{method.doc}
			.col-sm-6
				.col-sm-12
					.panel.panel-primary
						.panel-heading
							h4.board-card-title &nbsp;Server Response Status Codes
						.panel-body
							each status in cheet.statusCodes.groups
								h4 #{status.title}
								ul
									each code in status.codes
										li
											code #{code.number}
											i  - #{code.title}
											p #{code.doc}